
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Christina Cacioppo</title>
		<link rel="stylesheet" type="text/css" href="static/css/cc.css">
	</head>
	<body>
	  <div class="centerdiv">
	
  <%= nest_template 'views/nav.erb' %>
    
    <div class="blog-name"><a href="http://www.christinacacioppo.com/blog">Kidogo</a></div>

      <div class="post">
        <h2 class="title"><%= post.title %></h2>
        <a class="date" href="<%= post.id %>"><%= post.date %></a></br>
        <div class="body">
          <%= post.body %>
        </div>
      </div>

  <%= nest_template 'views/ganalytics.erb' %>

</body>
</html>